<div id="export-content-container">
    <div id="export-header">Export Inventory List as...</div>
    <div id="export-size">Your export contains {{this.populatedInputs?.length}} item(s).</div>
    <div id="export-button-container">
        <button id="closeExportPopUp" (click)="closeExportPopUp('export-modal')">Close</button>
        <button id="csv-btn" (click)="exportAsCsv()" (click)="closeExportPopUp('export-modal')" >CSV</button>
        <button id="json-btn" (click)="exportAsJson()" (click)="closeExportPopUp('export-modal')">JSON</button>
    </div>
</div>