<div id="input-bar">
  <div id="input-bar-title" class="input-container">
    <div>Add Device</div>
  </div>

  <div class="input-container">
    <label class="input-label" for="deviceType">Device Type</label>
    <!-- <app-tooltip>
      The Device Type can be found lorem ipsum dolor!
    </app-tooltip> -->

    <div class="help-tip-container">
      <button type="button" class="help-tip btn-demo" data-toggle="modal" data-target="#deviceModal" data-backdrop="false">
          <div class="modal left fade" id="deviceModal" tabindex="" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <div class="nav flex-sm-column flex-row">
                              <a href="index.html" class="nav-item nav-link active">Home</a>
                          </div>
                      </div>
                      <div class="modal-body">
                          <div class="modal-text">
                            The Device Type can be found lorem ipsum dolo.
                          </div>  
                      </div>
                      <div class="modal-footer">
                          <button id="modal-footer-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </button>
    </div>

    <select id="deviceType" [(ngModel)]="input.deviceType" placeholder="Device Type">
      <option selected value="">Choose Device Type</option>
      <option value="PC">PC</option>
      <option value="PLC">PLC</option>
      <option value="HMI">HMI</option>
    </select>
  </div>
  <div class="input-container">
    <label class="input-label" for="mlfb">MLFB</label>
    <!-- <app-tooltip>
      The MLFB can be found lorem ipsum dolor!
    </app-tooltip> -->

    <div class="help-tip-container">
      <button type="button" class="help-tip btn-demo" data-toggle="modal" data-target="#mlfbModal" data-backdrop="false">
          <div class="modal left fade" id="mlfbModal" tabindex="" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <div class="nav flex-sm-column flex-row">
                              <a href="index.html" class="nav-item nav-link active">Home</a>
                          </div>
                      </div>
                      <div class="modal-body">
                          <div class="modal-text">
                            Die MLFB umfasst mindestens zwei Blöcke (12 Stellen) - maximal drei Blöcke (16 Stellen).
                            <div class="seperator"></div>
                            Bis Mai 2000 wurden auch MLFB 6- bis 11-stellig vergeben. Diese können heute auch noch gültig sein.            
                            <div class="seperator"></div>
                            Das Leerzeichen in Block 1 kann zur Lesbarkeit in Text hinzugeführt werden wird Maschinell nicht verarbeitet.
                            <div class="seperator"></div>
                            Die MLFB findet sich auf den Typenschildern oder auf den Seiten der Geräte aufgedruckt. 
                            <div class="seperator"></div>
                            <div class="image-container">
                                <img src="assets/mlfb.jpg" alt="MLFB Tutorial">
                            </div>
                          </div>  
                      </div>
                      <div class="modal-footer">
                          <button id="modal-footer-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </button>
    </div>

    <input id="mlfb" [(ngModel)]="input.mlfb" placeholder="MLFB">
  </div>
  <div class="input-container">
    <label class="input-label" for="serialNmbr">Serial Number</label>
    <!-- <app-tooltip>
    </app-tooltip> -->

    <div class="help-tip-container">
      <button type="button" class="help-tip btn-demo" data-toggle="modal" data-target="#serialModal" data-backdrop="false">
          <div class="modal left fade" id="serialModal" tabindex="" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <div class="nav flex-sm-column flex-row">
                              <a href="index.html" class="nav-item nav-link active">Home</a>
                          </div>
                      </div>
                      <div class="modal-body">
                          <div class="modal-text">
                            Die Seriennummer findet sich auf den Typenschildern oder auf den Seiten der Geräte aufgedruckt. 
                            Jedes Siemens gerät besitzt eine Seriennummer mit dem gleichen Aufbau. 
                            <div class="seperator"></div>
                            Die Seriennummer beginnt immer mit S und dann aus einer 9-stelligen Großbuchstaben/Zahlen Kombi.
                            <div class="seperator"></div>
                            <div class="image-container">
                                <img src="assets/serialnumber.jpg" alt="MLFB Tutorial">
                            </div>
                          </div>  
                      </div>
                      <div class="modal-footer">
                          <button id="modal-footer-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </button>
    </div>

    <input id="serialNmbr" [(ngModel)]="input.serialNumber" placeholder="Serial Number">
  </div>
  <div class="input-container">
    <label class="input-label" for="inventoryNmbr">Inventory Number</label>
    <!-- <app-tooltip>
    </app-tooltip> -->

    <div class="help-tip-container">
      <button type="button" class="help-tip btn-demo" data-toggle="modal" data-target="#inventoryModal" data-backdrop="false">
          <div class="modal left fade" id="inventoryModal" tabindex="" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <div class="nav flex-sm-column flex-row">
                              <a href="index.html" class="nav-item nav-link active">Home</a>
                          </div>
                      </div>
                      <div class="modal-body">
                          <div class="modal-text">
                            Sie findet sich nur auf Geräten, die in der Anschaffung mehr, wie 800€ kosten. Sie findet sich NICHT auf allen Geräten.  
                            <div class="seperator"></div>
                            Bei Geräten ohne Inventarnummer wird das Feld übersprungen.
                            <div class="seperator"></div>
                            <div class="image-container">
                                <img src="assets/inventory.jpg" alt="MLFB Tutorial">
                            </div>
                          </div>  
                      </div>
                      <div class="modal-footer">
                          <button id="modal-footer-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </button>
    </div>

    <input id="inventoryNmbr" [(ngModel)]="input.inventoryNumber" placeholder="Inventory Number (optional)">
  </div>
  <div class="input-container">
    <label class="input-label" for="prototypeId">Prototype ID</label>
    <!-- <app-tooltip>
    </app-tooltip> -->

    <div class="help-tip-container">
      <button type="button" class="help-tip btn-demo" data-toggle="modal" data-target="#protoModal" data-backdrop="false">
          <div class="modal left fade" id="protoModal" tabindex="" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <div class="nav flex-sm-column flex-row">
                              <a href="index.html" class="nav-item nav-link active">Home</a>
                          </div>
                      </div>
                      <div class="modal-body">
                          <div class="modal-text">
                            Die Prototypen-ID wird für Vorseriengeräte vergeben. 
                            <div class="seperator"></div>
                            Nicht jedes Gerät besitzt eine Prototypen ID. Geräte, die eine MLFB oder Seriennummer haben sind Seriengeräte und haben keine Prototypen ID.
                            
                            Wenn kein Prototyp vorliegt, wird das Feld übersprungen.
                            <div class="seperator"></div>          
                            Meist handschriftlich auf dem Gerät.
                          </div>  
                      </div>
                      <div class="modal-footer">
                          <button id="modal-footer-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </button>
    </div>

    <input id="prototypeId" [(ngModel)]="input.prototypeId" placeholder="Prototype ID (optional)">
  </div>

  <div id="add-button-container">
    <button id="add-button" (click)="buttonAdd()">Add</button>
  </div>
</div>