.main-bar{
    position: relative;
    background-color: rgb(240, 240, 245);
    padding: 10px;
    min-height: 949px;
}

/* tag: top right bottom left; */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#bottom-linebreak{
    position: relative;
    bottom: -130px;
}

h2{
    margin-left: 100px;
}

.bottom-button{
    display: inline-block;
    position: relative;
    bottom: -130px;
    right: -1600px;
}

button{  
    padding: 10px 30px;
    margin-left: 5px;
    border-radius: 5px;
}

.generate-button, .export-button{
    display: inline-block;
}

.closeExportPopUp{
    position: relative;
    left: -205px;
}