/* tag: top right bottom left; */
/* class: multiple elements, id: single elements*/
/* screen sizes: 360x640 (small mobile) 375x667 (average mobile) 1366x768 (average laptop) 1440x900 (average desktop) 1920x1080 (large desktop)*/
/* fluidness: percentages, min-/max widths*/

#main-page{
    position: relative;
    background-color: rgb(240, 240, 245);
    padding: 0.625em 1em;
    min-height: 59em;
}

#page-header{
    margin: 0.5% 5.5%;
    padding: 0.3em;
}

#title{
    font-size: 2.5em;
}

#title-link{
    color: black;
}

#view-nav{
    display: flex;
    margin-left: 1%;
}

#view-btn{
    margin-left: 0%;
    min-width: 6em;
    min-height: 1em;
    height: 2em;
    background-color: transparent;
    border-color: transparent;
}

#view-btn{
    color: black;
}

#view-btn:active{
    color:orange;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgrey;
}

.vertical{
    border-left: 2px solid black;
    height: 30px;
    margin: 0%;
    padding: 0%;
}


.linebreak {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#bottom-button-container{
    text-align: right;
    margin: 1% 0%;
    height: 3em;
}

.bottom-buttons{
    width: 12em;
    margin-right: 1%;
}

.bottom-buttons:active{
    color:orange;
}

#close-search-button{
    margin-right: 100em;
}