/* tag: top right bottom left; */
/* class: multiple elements, id: single elements*/
/* screen sizes: 360x640 (small mobile) 375x667 (average mobile) 1366x768 (average laptop) 1440x900 (average desktop) 1920x1080 (large desktop)*/
/* fluidness: percentages, min-/max widths*/

#main-page{
    position: relative;
    background-color: rgb(240, 240, 245);
    padding: 0.625em 1em;
    min-height: 59em;
}

#page-title{
    margin: 1% 5.5%;
    padding: 0.3em;
    font-size: 2.5em;
}

.linebreak {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#bottom-button-container{
    text-align: right;
    margin: 1% 0%;
    height: 3em;
}

.bottom-buttons{
    width: 12em;
    margin-right: 1%;
}