<div id="main-page">
    <div id="page-header">
        <div id="title">Inventory Monitor</div>
        <div id="view-nav">
            <button id="view-add-btn" (click)="switchViewToAdd()" [ngStyle]="{'color': this.showAdd ? 'black' : 'lightgrey'}">Add Devices</button>
            <div class="vertical"></div>
            <button id="view-search-btn" (click)="switchViewToSearch()" [ngStyle]="{'color': this.showSearch ? 'black' : 'lightgrey'}">Search Devices</button>
        </div>
    </div>
    <hr class="linebreak" id="top-linebreak"/>
    <app-input *ngIf="this.showAdd" (itemValid)="addItem($event)"></app-input>
    <app-table *ngIf="this.showAdd" (deleteEntryRequest)="deleteItem($event)" [items]="inputs"></app-table>

    <app-search *ngIf="this.showSearch"></app-search>
    <app-table2 *ngIf="this.showSearch"></app-table2>

    <div *ngIf="this.showAdd" id="bottom-button-container">
        <div *ngIf="this.amountItems > 0">
            <button *ngIf="!this.generatePressed" id="generate-button" class="bottom-buttons" (click)="generateIds()">Generate IDs</button>
            <button *ngIf="this.amountItems > 0 && this.generatePressed" id="openExport-button" class="bottom-buttons" (click)="openExportPopUp('export-modal')">Export...</button>
        </div>
    </div>

    <div *ngIf="this.showSearch" id="bottom-button-container">
        <div>
            <button id="openExport-button" class="bottom-buttons" (click)="openExportPopUp('export-modal')">Export...</button>
        </div>
    </div>
    
    <jw-modal id="export-modal">
        <app-exports [populatedInputs]="inputs"></app-exports>
    </jw-modal>
    
    <hr class="linebreak" id="bottom-linebreak"/>
</div>