<div id="main-page">
    <div id="page-title">Inventory Monitor</div>
    <hr class="linebreak" id="top-linebreak"/>
    <app-input (itemValid)="addItem($event)"></app-input>
    <app-table (deleteEntryRequest)="deleteItem($event)" [items]="inputs"></app-table>

    <div id="bottom-button-container">
        <div *ngIf="this.amountItems > 0">
            <button id="generate-button" class="bottom-buttons" (click)="generateIds()">Generate IDs</button>
            <button *ngIf="this.amountItems > 0 && this.generatePressed" id="openExport-button" class="bottom-buttons" (click)="openExportPopUp('export-modal')">Export...</button>
        </div>
    </div>

    <jw-modal id="export-modal">
        <app-exports [populatedInputs]="inputs"></app-exports>
    </jw-modal>
    
    <hr class="linebreak" id="bottom-linebreak"/>
</div>