/* For Laptop */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .table-bar{
        background-color: rgb(240, 240, 245);
        margin: 5px;
        padding: 5px;
    }
    
    /* tag: top right bottom left; */
    
    tr{
        padding: 5px;
    }
    
    th{
        float: left;
        margin: 5px 20px;
        padding: 5px 10px;
    }
    
    td{
        float: left;
        margin: 5px 20px;
        padding: 5px 10px;
    }
    
    .items-header{
        float: left;
        margin: 0px 20px;
        padding: 5px 5px;
    }
    
    .items{
        float: left;
        margin: 0px 20px;
        padding: 5px 5px;
        border-radius: 15px;
        width: 1420;
        max-width: 1820px;
        min-width: 1420px;
        background-color: rgb(248, 249, 250);
    }
    
    #inventoryIdHead{
        margin: 5px 0px;
    }
    
    #inventoryIdData{
        margin: 5px 25px;
    }
    
    #deviceTypeHead{
        margin: 5px 65px;
    }

    #inventoryNumberHead{
        margin: 5px 50px;
    }
    
    #MLFBHead, #serialNumberHead{
        margin: 5px 75px;
    }

    #prototypeIdHead{
        margin: 5px 80px;
    }

    #serialNumberHead{
        margin: 5px 95px;
    }
    
    #deviceTypeData{
        margin: 5px 115px;
    }
    
    #inventoryNumberData{
        margin: 5px 55px;
    }
    
    #MLFBData {
        margin: 5px -55px;
    }
    
    #serialNumberData{
        margin: 5px 60px;
    }
    
    #prototypeIdData{
        margin: 5px 100px;
    }
}