/* tag: top right bottom left; */
/* class: multiple elements, id: single elements*/
/* screen sizes: 360x640 (small mobile) 375x667 (average mobile) 1366x768 (average laptop) 1440x900 (average desktop) 1920x1080 (large desktop)*/
/* fluidness: percentages, min-/max widths*/

#table-container{
    background-color: rgb(240, 240, 245);
    padding: 1em 0em;
    min-height: 40em;
    max-height: 35em;
    width: 100%;
    min-width: 60em;
    overflow-y: auto;
    overflow-x: hidden;
}

#table-header-container{
    display: -webkit-box;
    padding: 0.625em 0.3125em;
}

#table-item-container{
    display: -webkit-box;
    margin: 1%;
    padding: 0.3125em 0.3125em;
    border-radius: 15px;
    background-color: rgb(248, 249, 250);
}

.table-header{
    margin: 0.3125em 4.5%;
    padding: 0.625em 0.3125em;
    width: 7%;
}

#table-header-invID{
    margin: 0.3125em 2%;
}

.table-items{
    width: 14%;
    text-align: center;
    margin: 0.3125em 0.625em;
    padding: 0.3125em 0.625em;
}

#table-item-invID{
    width: 3%;
    margin-left: 1.2%;
}
#table-item-dt{
    width: 5%;
    margin-left: 9%;
    margin-right: 2%;
}
#table-item-mlfb{
    width: 14%;
    margin: 0.3125em 4%;
}
#table-item-sn{
    width: 8%;
    margin: 0.3125em 1%;
}
#table-item-in{
    width: 8%;
    margin: 0.3125 7%;
}
#table-item-protID{
    width: 5%;
    margin: 0.3125em 2%
}